<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12" id="marketplace">
      <h4>Tutorial Marketplace</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(tutorial, index) in tutorials"
          :key="index"
          @click="setActiveTutorial(tutorial, index)"
        >
          <img v-if="tutorial.img=='true'" :src="'/img/' + tutorial.id + '.png'">
          <img v-else :src="'/img/default.png'">
          <p>{{ tutorial.title }}</p>
          <!-- buying tutorials -->
          <button 
          v-if="bought.indexOf(tutorial.id) == -1" class="badge bg-success"
          @click="addToCart(tutorial.id)"
          >Add to cart</button>
          <button 
            v-else
            @click="removeFromCart(tutorial.id)"
            class="badge bg-success"
          >Unpurchase tutorial</button>
          <router-link
          v-if="bought.indexOf(tutorial.id) != -1" 
          :to="'/tutorials/view/' + tutorial.id" class="badge bg-primary">View</router-link>
        </li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
        Unpurchase All
      </button>
    </div>
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
import Cart from "../services/Cart";

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      bought: [],
      currentTutorial: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    retrieveBought() {
      Cart.getAll()
        .then(response => {
          this.bought = response.data.map(el => el.id);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.retrieveBought();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
      // RETRIEVE BOUGHT TUTORIALS
      Cart.get(tutorial.id)
        .then(response => {
          this.isBought = true;
          console.log(response.data);
          console.log(this.isBought);
        })
        .catch(e => {
          this.isBought = false;
          console.log(e);
          console.log(this.isBought);
        });
    },

    removeAllTutorials() {
      let idList;
      Cart.getAll()
        .then(response => {
          idList = response.data.map(el => el.id);
          console.log(idList);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
      Cart.deleteAll(idList)
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    // ADD TO CART
    addToCart(tutorialIndex) {
      console.log(tutorialIndex);
    
      const data = {
          id : tutorialIndex
      };

        Cart.add(data)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: true
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = true;
              this.retrieveBought();
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on add to cart");
          console.log(e);
        });
    },
    // REMOVE FROM CART
    removeFromCart(tutorialIndex) {
      console.log(tutorialIndex);

        Cart.delete(tutorialIndex)
        .then(response => {
          console.log(response.data);
          const purchased = {
            purchased: false
          };
          TutorialDataService.purchase(tutorialIndex,purchased)
          .then(response => {
            console.log(response.data);
            // set active tutorial here to force refreshList
            TutorialDataService.get(tutorialIndex)
            .then(response => {
              this.currentTutorial = response.data;
              this.isBought = false;
              this.retrieveBought();
              console.log(response.data);
            })
            .catch(e => {
              console.log("failed on retrieving tutorial");
              console.log(e);
            });
          })
          .catch(e => {
            console.log(e);
            console.log("failed on purchase tutorial set");
          });
        })
        .catch(e => {
          console.log("failed on remove from cart");
          console.log(e);
        });
     },
     isBought(id) {
       Cart.get(id)
       .then(response => {
            console.log(response.data);
            console.log('it is bought ' + id);
            return true;
          })
          .catch(e => {
            console.log(e);
            console.log("it isn't bought " + id);
            return false;
          });
     },
    
  },
  mounted() {
    this.retrieveTutorials();
    this.retrieveBought();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
