<template>
  <div v-if="currentTutorial" class="edit-form">
    <h4>Tutorial</h4>
    <h5>{{ currentTutorial.title }}</h5>

    <img v-if="currentTutorial.img" :src="'/img/' + currentTutorial.id + '.png'">
    <p v-if="currentTutorial.body">{{ currentTutorial.body }}</p> 
  </div>

  <div v-else>
    <br />
    <p>Oops, no tutorial found!</p>
  </div>
  <!--<router-link :to="'/tutorials" class="badge badge-warning">Back to tutorials list</router-link>-->
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";

export default {
  name: "tutorial",
  data() {
    return {
      currentTutorial: null,
      message: ''
    };
  },
  methods: {
    getTutorial(id) {
      TutorialDataService.get(id)
        .then(response => {
          this.currentTutorial = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getTutorial(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
